{% extends 'base.html' %}
{% load static %}
{% block css %}
body
{
    background:url('{% static 'Images/purchase.jpg'%}') no-repeat center fixed;
    background-size:cover;
}
{% endblock %}
{% block body %}
<div class="alert alert-danger alert-dismissible fade show" style="height:50px;"  role="danger">
  Orders once placed cannot be returned !!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<br>
<br>
<div class="container">
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Purchase-item</th>
        <th scope="col">Item-price</th>
        <th scope="col">Delivery-Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{dish.name}}</th>
        <td>{{price}}</td>
        <td>{{client.address}}</td>
      </tr>
      
    </tbody>
  </table>
  <form action="placed/{{dish.name}}" method="POST">
    {% csrf_token %}
    <center>
    <label for="orderquantity" style="color:aliceblue"><b>Quantity</b></label>
<input type="number" id="orderquantity" required value=1 name="quantity">
    <input class="btn btn-primary" type="submit" value="Order">
    </center>
</form>
</div>


{% endblock %}